# Logs and databases #
######################
**/logs
*.log*

###################
# PyCharm Related #
###################
.ideamisc
.xml*
.iml*
.pyc**/venv
.idea
**/venv

#########
# Other #
#########
Readme.txt
